alembic==1.17.2
argon2-cffi==25.1.0
email-validator==2.1.0
Faker==24.4.0
fastapi==0.121.0
fastapi-pagination==0.15.0
psycopg2==2.9.11
python-dotenv==1.2.1
python-jose==3.5.0
python-multipart==0.0.20
requests==2.32.5
SQLAlchemy==2.0.44
sqlmodel==0.0.27
uvicorn==0.38.0
